[Unit]
Description=Authors haven service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/ah-code-titans
ExecStart=/bin/bash /home/ubuntu/ah-code-titans/start_ah.sh

[Install]
WantedBy=multi-user.target
